h1{
	text-align: center;
	background-color: yellow;
	color: red;
	font-family: cursive;
}

body{
	background-image: url("bread.jpg");
}

p{
	color: fuchsia;
}

hr{
	color: green;
}

.myclass {
	background-color:green;
	font-size: xx-large;
	font-style: italic;
}