h1{
	text-align: center;
	background-color:blue;
	color:#000000;
	font-family: cursive;
}

p{
	color: fuchsia;
}

hr{
	color: green;
}

.myclass {
	background-color:green;
	font-size: xx-large;
	font-style: italic;
}