h1{
	text-align: center;
	background-color:blue;
	color: white;
	font-family: cursive;
}

p{
	color: fuchsia;
}

hr{
	color: green;
}

body{
	background-image: url("Background.jpg");
}

.myclass {
	background-color:green;
	font-size: xx-large;
	font-style: italic;
}